#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #01A007;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #01A007;
}

.poster-slider {
  width: 100%;
  height: 380px;
  object-fit: contain;
  object-position: center;
}

.poster-slider {
  width: 100%;
  height: 380px;
  object-fit: contain;
  object-position: center;
  background: #f5efe5;
}

.btn-circle {
}

.btn-primary {
  color: #fff;
  background-color: #fed136;
  border-color: #fed136;
}

